In [1]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

import numpy as np
import pandas as pd
import pickle
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score, mean_squared_error
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, classification_report


rf = RandomForestClassifier(n_estimators = 200, random_state = 17, max_depth=5)

In [2]:
X = pd.read_csv('../data/processed/df_train.csv').iloc[::, :18:]
y= pd.read_csv('../data/processed/df_train.csv')['satisfaction']

In [3]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [4]:
rf =rf.fit(X_train,y_train)
pickle.dump(rf, open('../models/random_forest.pkl', 'wb'))

In [5]:
y_pred = rf.predict(X_test)

In [6]:
resultado_rf_test = 'Random Forest', cross_val_score(rf,  X_test , y_test,
                                  scoring='roc_auc',cv=5).mean()
resultado_rf_test

('Random Forest', 0.9741420625161306)

In [22]:
with open('../data/variables_pkl/resultado_random_forest.pkl', 'wb') as resultado_rf:
    pickle.dump(('Random Forest', 0.9741420625161306), resultado_rf)

In [10]:
rf.predict_proba([[1,35,1,3833,3,3,3,2,3,5,5,5,5,4,5,4,1,0]])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([[0.64248891, 0.35751109]])

In [11]:
rf.fit(X,y)

RandomForestClassifier(max_depth=5, n_estimators=200, random_state=17)

In [12]:
rf.feature_importances_

array([0.02241811, 0.0054602 , 0.11274291, 0.00769802, 0.14275123,
       0.0289854 , 0.00381179, 0.2448107 , 0.04485499, 0.06879967,
       0.023555  , 0.03738772, 0.0120298 , 0.00878248, 0.00984226,
       0.01390986, 0.12550215, 0.0866577 ])

In [13]:
names = X.columns.values
names

array(['Customer Type', 'Age', 'Type of Travel', 'Flight Distance',
       'Inflight wifi service', 'Ease of Online booking',
       'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Class_Business', 'Class_Eco'], dtype=object)

In [14]:
scores = sorted(zip(map(lambda x: round(x, 4), rf.feature_importances_), ['Customer Type', 'Age', 'Type of Travel', 'Flight Distance',
       'Inflight wifi service', 'Departure/Arrival time convenient',
       'Ease of Online booking', 'Gate location', 'Food and drink',
       'Online boarding', 'Seat comfort', 'Inflight entertainment',
       'On-board service', 'Leg room service', 'Baggage handling',
       'Checkin service', 'Inflight service', 'Cleanliness',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'Class_Business', 'Class_Eco', 'Class_Eco Plus']), reverse=True)
feature_importance_rf = pd.DataFrame(scores, columns=['Score', 'Feature'])

In [15]:
from sklearn.feature_selection import SelectKBest

print(X.shape)
sel = SelectKBest(k=5)
X_new = sel.fit_transform(X, y)
print(X_new.shape)
print(sel.scores_)

features_selectKbest = pd.DataFrame({'column': names, 'score': sel.scores_}).sort_values('score', ascending=False)

(103594, 18)
(103594, 5)
[ 3777.04508664  1982.68579962 26156.91806264 10164.14462614
  9099.69010099  3139.47683693  4762.94477781 35170.63342426
 14378.12033001 19521.61547272 12020.74251024 11265.60989666
  6778.33376222  6105.27121703  6606.69019041 10628.85476081
 35263.68611526 26477.19375366]

In [16]:
feature_importance_rf22 = feature_importance_rf.to_csv('../data/csv_data/fi_rf_22', index=False)

In [17]:
feature_importance_rf22 = feature_importance_rf.tail(5).to_csv('../data/csv_data/fi_rf_tail', index=False)

In [18]:
feature_importance_rf

     Score                            Feature
0   0.2448                      Gate location
1   0.1428              Inflight wifi service
2   0.1255                   Inflight service
3   0.1127                     Type of Travel
4   0.0867                        Cleanliness
5   0.0688                    Online boarding
6   0.0449                     Food and drink
7   0.0374             Inflight entertainment
8   0.0290  Departure/Arrival time convenient
9   0.0236                       Seat comfort
10  0.0224                      Customer Type
11  0.0139                    Checkin service
12  0.0120                   On-board service
13  0.0098                   Baggage handling
14  0.0088                   Leg room service
15  0.0077                    Flight Distance
16  0.0055                                Age
17  0.0038             Ease of Online booking

In [19]:
features_selectKbest_22 = features_selectKbest.to_csv('../data/csv_data/fi_skbest_22', index=False)

In [20]:
features_selectKbest_tail = features_selectKbest.to_csv('../data/csv_data/fi_skbest_tail', index=False)

In [21]:
features_selectKbest

                    column         score
16          Class_Business  35263.686115
7          Online boarding  35170.633424
17               Class_Eco  26477.193754
2           Type of Travel  26156.918063
9   Inflight entertainment  19521.615473
8             Seat comfort  14378.120330
10        On-board service  12020.742510
11        Leg room service  11265.609897
15             Cleanliness  10628.854761
3          Flight Distance  10164.144626
4    Inflight wifi service   9099.690101
12        Baggage handling   6778.333762
14        Inflight service   6606.690190
13         Checkin service   6105.271217
6           Food and drink   4762.944778
0            Customer Type   3777.045087
5   Ease of Online booking   3139.476837
1                      Age   1982.685800